@font-face {
    font-family: 'MyHandwriting';
    src: url('fonts/MyHandwriting-Regular.ttf');
}
body {
  margin-top: 7vh;
  margin-bottom: 6vh;
  margin-right: 10vw;
  margin-left: 10vw;
}
h1 {
   font-family: 'MyHandwriting';
  text-align: center;
  font-size: 2.5em;
  line-height: 0.5;
  /*color: rgb(99,36,177);*/
}
h2 {
  text-align: center;
  font-size: 12pt;
  font-family: "MyHandwriting";
}
a { 
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
img {
	object-fit: contain;
	height: 80vh;
  width:100%;
  cursor: pointer;
  vertical-align: top;
  -webkit-tap-highlight-color: transparent;
}
footer {
  margin-top: 1vh;
  margin-bottom: 8vh;
  display: flex;
  justify-content: center;
}
.ig-icon {
    background: url('icons/instagram-brands.svg');
    height: 3vh;
    width: 3vh;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.linkedin-icon {
    background: url('icons/linkedin-brands.svg');
    height: 3vh;
    width: 3vh;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.twitter-icon {
    background: url('icons/twitter-square-brands.svg');
    height: 3vh;
    width: 3vh;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}