@font-face {
    font-family: 'MyHandwriting';
    src: url('fonts/MyHandwriting-Regular.ttf');
    font-display: block;
}
body {
  margin-top: 7vh;
  margin-bottom: 6vh;
  margin-right: 7vw;
  margin-left: 7vw;
}

h1 {
  font-family: 'MyHandwriting';
  text-align: left;
  font-size: 1.9em;
  margin-bottom: 0.7em;
  user-select: none; /* Impede a seleção */
  -webkit-user-select: none; /* Impede a seleção */
}

a { 
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* #buttons:hover {
  animation-name: shake;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

#emailLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#aboutText {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 7vh;
  font-size:1em;
  }

@media (max-width: 767px) {
    #aboutText {
      font-size: 0.7em;
        margin-top: 5vh;
    }
    h1 {
      font-size: 1.7em;
      margin-bottom: .5em;
    }
  }

.github {
  background: url('icons/github-brands.svg');
  }
.ig {
  background: url('icons/instagram-brands.svg');
}
.linkedin {
  background: url('icons/linkedin-in-brands.svg');
}
.twitter {
  background: url('icons/twitter-brands.svg');
}

.social-media-icon {
  height: 2vh;
  width: 2vh;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2.2px;
  /*color: rgb(99,36,177);*/
}

.social-media-container {
  justify-content: center;
  display: flex;
  margin-top: 5vh;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  16.67% { transform: translate(-1px, -2px) rotate(-.25deg); }
  33.34% { transform: translate(-2px, 0px) rotate(.25deg); }
  50% { transform: translate(2px, 2px) rotate(0deg); }
  66.67% { transform: translate(1px, -1px) rotate(.25deg); }
  83.34% { transform: translate(-1px, 2px) rotate(-.25deg); }
  100% { transform: translate(-3px, 1px) rotate(0deg);  }
}

.paused{
    animation-play-state: paused;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 10px; /* Adjust the gap between photos */
  max-width: 1000px;
  margin: 15px auto;
  padding-top: 15px;
}

.photo-container {
  position: relative;
  padding-bottom: 100%; /* aspect ratio (change as needed) */
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* .about-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}

.modal-image:hover {
  opacity: 0.9;
}

.email-link {
  font-weight: bold;
  color:  rgba(22, 121, 66, 0.8);
  text-decoration: underline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 1rem;
}

#buttons {
  margin: 0;
}

.about-link {
  color: #a0a0a0;
  text-decoration: none;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: left;
  font-size: 1.1em;
}

.about-link:hover {
  color: purple;
}
/* 
h1:active {
  color: purple;
} */
footer {
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}
