---
import BaseLayout from '../layouts/BaseLayout.astro'
import PhotoGrid from '../components/PhotoGrid.astro'
---

<BaseLayout title="Fotos - Ruan Putka">
  <h1>Fotos</h1>
  <PhotoGrid />
</BaseLayout>

<style>
  h1 {
    margin-bottom: 2rem;
  }
</style>
